 /*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>
&mt {
    tapping-term-ms = <201>;
    flavor = "tap-preferred";
 };
&sk {
     release-after-ms = <2000>;
     quick-release;
 };
 
/* Layers */
#define AL1 0
#define GM 1
#define AL2 1
#define AL2U 1
#define SM1 1
#define SM2 1	
#define NM1 1	
#define SYS 1
#define BT 1	
/ { 
    combos {
        compatible = "zmk,combos";
        combo_game {
            timeout-ms = <30>;
	    key-positions = <2 3 4 5>;
            bindings = <&to GM>;
        };
        combo_sys {
            timeout-ms = <30>;
	    key-positions = <4 5 6>;
            bindings = <&to SYS>;
        };
        combo_caps {
            timeout-ms = <30>;
	    key-positions = <12 13 14>;
            bindings = <&caps_word>;
        };
        combo_bt  {
            timeout-ms = <10>;
            key-positions = <13 14>;
            bindings = <&to BT>;
	    layers = <SM1>; 
        };
        lalt {
            timeout-ms = <20>;
	    key-positions = <10 11>;
            bindings = <&kp LALT>; 
	    layers = <SYS>; 
        };
        lclk {
            timeout-ms = <20>;
	    key-positions = <12	13>;
            bindings = <&mkp LCLK>;
	    layers = <SYS>;
        };
        rclk {
            timeout-ms = <20>;
	    key-positions = <4 5>;
            bindings = <&mkp RCLK>;
	    layers = <SYS>;
        };


    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
        sr: shift_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_LAYER";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&to>;
	    retro-tap;
        };
        hl: homerow_layers {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_LAYERS";
            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&sl>, <&kp>;
        };
	td: tapdance {
            compatible = "zmk,behavior-hold-tap";
            label = "TAPDANCE";
            #binding-cells = <2>;
            tapping-term-ms = <190>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
       keymap {
                compatible = "zmk,keymap";
                
       		default_layer {
		bindings = <
		&kp Q		&kp W		&kp F		&kp P		&kp J		&kp L		&kp U		&kp Y  
		&kp Z		&kp R		&kp S		&kp T 	 	&kp N		&kp E		&kp I		&kp COMMA
		&kp A		&kp X		&kp C		&kp V           &kp B		&kp K		&kp M		&kp O
								&mo 1	 	&kp SPACE 
		>;
		};
       		lower_layer {
		bindings = <
		&kp ESC		&kp N1		&kp N2		&kp N3		&kp G		&kp N0          &kp TAB 	&kp BSPC  
		&kp LCTRL	&kp N4		&kp N5		&kp N6		&kp D		&kp SEMI	&kp SQT		&kp RCTRL
		&kp LSHFT	&kp N7		&kp N8		&kp N9		&kp H		&mo 2	        &kp DOT	 	&kp RSHIFT
								&trans	 	&kp RET
		>;
		};
       		raised_layer {
		bindings = <
		&kp ESC 	&bt BT_PRV 	&bt BT_NXT	&bt BT_CLR 	&kp K_UNDO      &kp UP         	&kp LBKT 	&kp RBKT
		&kp LCTRL 	&tog 3 		&kp MINUS	&kp EQUAL	&kp LEFT  	&kp DOWN        &kp RIGHT  	&kp RCTRL
		&kp LSHFT 	&kp LGUI 	&kp LALT 	&kp SLASH	&kp BSLH       	&trans		&kp GRAVE	&kp RSHIFT
								&kp SPACE 	&kp RET
		>;
		};
		default_layer_qwerty {
		bindings = <
		&kp Q		&kp W		&kp E		&kp R		&kp T		&kp Y		&kp U		&kp I  
		&kp Z		&kp S		&kp D		&kp F 	 	&kp J		&kp K		&kp L		&kp O
		&kp A		&kp X		&kp C		&kp V           &kp B		&kp N		&kp M		&kp P
								&mo 4	 	&kp SPACE 
		>;
		};
       		lower_layer_qwerty {
		bindings = <
		&kp ESC		&kp N1		&kp N2		&kp N3		&kp G		&kp N0          &kp TAB 	&kp BSPC  
		&kp LCTRL	&kp N4		&kp N5		&kp N6		&kp H		&kp SEMI	&kp SQT		&kp RCTRL
		&kp LSHFT	&kp N7		&kp N8		&kp N9		&kp H		&mo 5	        &kp DOT	 	&kp RSHIFT
								&trans	 	&kp RET
		>;
		};
       		raised_layer_qwerty {
		bindings = <
		&kp ESC 	&bt BT_PRV 	&bt BT_NXT	&bt BT_CLR 	&kp K_UNDO      &kp UP         	&kp LBKT 	&kp RBKT
		&kp LCTRL 	&tog 0 		&kp MINUS	&kp EQUAL	&kp LEFT  	&kp DOWN        &kp RIGHT  	&kp RCTRL
		&kp LSHFT 	&kp LGUI 	&kp LALT 	&kp SLASH	&kp BSLH       	&trans		&kp GRAVE	&kp RSHIFT
								&kp SPACE 	&kp RET
		>;
		};
        
	};
};
